PORT=3000

DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_DIALECT=

JWT_SECRET_KEY=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
GOOGLE_CLIENT_ID=
GEMINI_API_KEY=
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_SKIP_DOWNLOAD=

MAIL_USER=
MAIL_PASSWORD=
CLIENT_URL=

DATABASE_URL=

RAPIDAPI_KEY=
RAPIDAPI_HOST=